.imagen{
    background-image: url('./landing.jpg');
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: stretch;
}
.logo{
    width: auto;
    height: 8rem;
    padding: 1.5rem;
}
.contenedor{
    display: flex;
    width: 100%;
    height: 50rem;
}
.contenedorLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5rem; 
    /* padding: 1rem;
    margin: 1rem; */
    color: aliceblue;
    
}
.descripcion{
    display: flex;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 5px;
    text-align: start;
    font-family: sans-serif	;
    font-weight: lighter;
}
.countryLogo{
    display: flex;
    width: 50%;
    height: auto;
    padding: 5rem;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}
.home{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.button{
    margin: 1rem;
    /* border: 1px solid;
    border-color: white; */
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: larger;
    background-color: white;
    color: #551A8B;
    font-weight: bold;

}
.github{
    width: auto;
    height: 3rem;  
    padding: 1.5rem;
}
.linkedin{
    width: auto;
    height: 4rem;  
    padding: 1.5rem;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3rem;
}
.country{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: sans-serif	;
    font-weight: normal;
}