.button{
    cursor: pointer;
    border: 1px solid #ffffff88;
    border-radius: 1rem;
    background-color: #ffffff;
    height: 1.5rem;
    width: 4rem;
    color: rgb(64, 0, 85);
    font-size: 9px;
    box-shadow: 0  6px 4px  rgba(255, 255, 255, 0.44);
    margin: 0.5rem;
    text-align: center;
    font-weight: bolder;

}

.input{
    cursor: pointer;
    border: 1px solid #ffffff88;
    border-radius: 1rem;
    background-color: #ffffff;
    height: 1.5rem;
    width: 15rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 9px;
    box-shadow: 0  5px 4px  rgba(255, 255, 255, 0.44);
    margin: 1rem;
    text-align: left;
    padding-left: 1rem;
}
.contenedor{
    display: flex;
    align-items: center;
}