.logo{
    /* background-image: url("./Framelogo.png"); */
    height: 5rem;
    padding: 2rem;
    margin: 3rem;
}


.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    background-image: url('../Landing/landing_landing.png');
    height: 8rem;
    width: auto;
    align-content: flex-start;
    align-items: center;
}

.nuevaActividad{
    cursor: pointer;
    border: none;
    background: none;
    height: 1.5rem;
    width: revert;
    color: #ffffff;
    font-size: 15px;
    margin: 0.3rem;
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: flex-start;
    padding-inline-end: 4rem;
    word-spacing: 0.5rem;
    border-bottom: 1px solid transparent;
    transition: border .2s ease;
}
.textCreate{
    text-decoration: none;
}